/* Common settings */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* end common settings */

.intestazione{
  height: 500px;
  background: rgb(12,50,90);
}

.navbar{
  height: 80px;
  line-height: 80px;
  background: red;
  text-transform: uppercase;
}
