/* Common settings */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  background: green;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.fl{
  float:left;
}
/* end common settings */

.inte{
  height: 400px;
  width: 80%;
  background: red;
  margin: 0 auto;
  position: relative;
}

.logo-flu{
  position: relative;
  height: 50px;
  background: blue;
}

.logo-flu ul li{
  display: inline-block;
}
